#homepage {
  width: 100vw;
  height: 100vh;
  background-image: url('/phoenix.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homepage h1 {
  font-size: 7vw; /* Adapte la taille de la police à 3% de la largeur de la fenêtre du navigateur */
  margin: 0;
}

@media screen and (max-width: 600px) {
  #homepage h1 {
    font-size: 7vw; /* Si la largeur de la fenêtre est inférieure à 600px, adapte la taille de la police à 5% de la largeur de la fenêtre du navigateur */
  }
}
