@media (min-width: 781px) {
  /* Vos styles CSS ici */
  /* Par exemple : */
  #bio {
    font-size: 1.5em;
  }
}

#bio {
  padding: 0 2% 2% 2%;
  -ms-overflow-style: none; /* Cache la barre de défilement internet explorer */
  scrollbar-width: none; /* Cache la barre de défilement firefox*/
}

#bio::-webkit-scrollbar {
  width: 0; /* Cache la barre de défilement */
}

#bio {
}

#bio {
}
