:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
a,
li,
figcaption {
  color: #4e5b6f;
}

a {
  text-decoration: none;
  font-weight: bold;
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none; /* pour supprimer l'apparence par défaut sur les boutons sur iOS */
  -moz-appearance: none; /* pour supprimer l'apparence par défaut sur les boutons sur Firefox */
  appearance: none; /* pour supprimer l'apparence par défaut sur les boutons sur d'autres navigateurs */
}

.background-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  gap: 0px 0px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  overflow-x: hidden; /* défilement horizontal */
  overflow-y: auto; /* pas de défilement vertical */
}

@media screen and (min-width: 360px) {
  .background-item {
    width: 90%;
  }
}

@media screen and (min-width: 960px) {
  .background-item {
    width: 50%;
  }
}

.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.sub-title h2 {
  font-size: 1.9em;
  color: #4e5b6f;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Pour Chrome, Safari et Opera */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* rendre transparent */
}

/* Pour Internet Explorer et Edge */
body::-ms-scrollbar {
  width: 0px;
}

@media screen and (max-width: 767px) {
  body {
    transform: rotate(0deg);
  }
}
