#contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  justify-content: space-between;
  align-items: center;
}

#contact {
  text-align: center;
}

#mail {
  align-items: end;
}

#mail figcaption {
  font-size: 1.5em;
}

#network {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
